#Ignore Build , dist and nbProject/private folder
/build/
/dist/
/nbproject/private/

/FoodEmblemV1-ejb/build/
/FoodEmblemV1-ejb/dist/
/FoodEmblemV1-ejb/nbproject/private/

/FoodEmblemV1ClassLibrary/build/
/FoodEmblemV1ClassLibrary/dist/
/FoodEmblemV1ClassLibrary/nbproject/private/


/FoodEmblemV1-war/build/
/FoodEmblemV1-war/dist/
/FoodEmblemV1-war/nbproject/private/


/FoodEmblemClient/build/
/FoodEmblemClient/dist/
/FoodEmblemClient/nbproject/private/
